{% extends 'base.html' %}

{% block title %}

    Add New Project
    
{% endblock %}

{% block content %}

<div class="container text-center" id="header">
    <h1 class="text-white">Add a new project</h1>
</div>

<div class="container">
    <div class="row justify-content-center border rounded shadow bg-white">
        <div class="col-lg-8 p-3">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="fomr-group mb-3">
                    {{field.label}}
                    {{field}}

                    {% for error in field.errors %}
                        <small class="form-text text-danger">
                            {{error}}
                        </small>
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="btn btn-primary">Add Project</button>
                <a href="/update_db" class="btn btn-warning">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}