{% extends 'base.html' %}

{% block title %}

    Edit Inspection

{% endblock %}

{% block content %}

<div class="container text-center" id="header">
    <h1 class="text-white">Editing inspection details for Job# {{inspection.project_job_number}}</h1>
</div>

<div class="container">
    <div class="row justify-content-center border rounded shadow bg-white">
        <div class="col-lg-8 p-3">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="fomr-group mb-3">
                    {{field.label}}
                    {{field}}

                    {% for error in field.errors %}
                        <small class="form-text text-danger">
                            {{error}}
                        </small>
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="btn btn-secondary">Update</button>
                <a href="/inspections" class="btn btn-warning">Cancel</a>
                <button class="btn btn-danger" formmethod="POST" formaction="/inspections/{{inspection.id}}/delete">Delete</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}