{% extends 'base.html' %}

{% block title %} {{bd.name.title()}}  {% endblock %}

{% block content %}

<div class="container text-center mt-4 p-0" id="header">
    <h1 class="text-white bg-dark mb-0">{{bd.name.title()}} Details</h1>
</div>

<div class="container bg-white">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Name: </strong>{{bd.name.title()}}</li>
        <li class="list-group-item"><strong>State: </strong>{{bd.state.upper()}}</li>
        <li class="list-group-item"><strong>County: </strong>{{bd.county.title()}}</li>
        <li class="list-group-item"><strong>Rough Required?: </strong>{{bd.rough_required}}</li>
        <li class="list-group-item"><strong>PE Certification Rquired?: </strong>{{bd.pe_cert_required}}</li>
        {% if bd.type_of_pe_cert %}
        <li class="list-group-item">
            <strong>Type of PE Certification: </strong>{{bd.type_of_pe_cert.title()}}
        </li>
        {% else %}
        <li class="list-group-item">
            <strong>Type of PE Certification: </strong>N/A
        </li>
        {% endif %}
        <li class="list-group-item"><strong>PE Certification Notes: </strong>{{bd.pe_cert_notes}}</li>
        <li class="list-group-item"><strong>Shutdown Procedure: </strong>{{bd.shutdown_procedure}}</li>
        <li class="list-group-item"><strong>Building Dept Website: </strong><a href="{{bd.website}}" target="_blank">{{bd.website}}</a></li>
        <li class="list-group-item"><strong>Inspection Portal: </strong><a href="{{bd.inspection_portal}}" target="_blank">{{bd.inspection_portal}}</a></li>
        {% if bd.contact_list %}
        <li class="list-group-item"><strong>Contacts Link: </strong><a href="{{bd.contact_list}}" target="_blank">{{bd.contact_list}}</a></li>
        {% endif %}
        <li class="list-group-item"><strong>Contacts List: </strong><a href="/building_depts/{{bd.id}}/contacts">Contacts List</a></li>
        <li class="list-group-item"><strong>Notes: </strong>{{bd.notes}}</li>
    </ul>
    <form>
        <div class="pb-2">
            <button class="btn btn-primary" formaction="/building_depts/{{bd.id}}/edit">Edit</button>
            <button class="btn btn-secondary" formaction="/building_depts">Back to list</button>
        </div>
    </form>
    
</div>

{% endblock %}