body {
    background-image: url('/static/images/solar-panels-roof-solar-cell.jpg');
    background-size: cover;
}

ul.no_bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

.cards_div {
    margin-top: 5rem;
}

.index_card {   
    width: 15rem;
    height: 20rem;
    margin-top: 1rem;
}

#schedule_div {
    opacity: 0.9;
}

.card-img-top {
    height: 9rem;
    object-fit: cover;
}

.container {
    opacity: 0.9;
}



