{% extends 'base.html' %}

{% block title %} {{contact.name}}  {% endblock %}

{% block content %}

<div class="container text-center mt-4" id="header">
    <h1 class="text-white">{{contact.first_name.title()}} Details</h1>
</div>

<div class="container bg-white mt-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Name: </strong>{{contact.first_name.title()}}</strong></li>
        <li class="list-group-item"><strong>Title: </strong>{{contact.title.upper()}}</li>
        <li class="list-group-item"><strong>Cell Phone: </strong>{{contact.cell_phone}}</li>
        <li class="list-group-item"><strong>Office Phone: </strong>{{contact.office_phone}}</li>
        <li class="list-group-item"><strong>Email: </strong>{{contact.email}}</li>
        <li class="list-group-item"><strong>Additional Notes: </strong>{{contact.notes}}</li>
    </ul>
    <form>
        <div class="pb-2">
            <button class="btn btn-secondary" formaction="/update_db">Back to list</button>
            <button class="btn btn-info" formaction="/bd_contacts/{{contact.id}}/edit">Edit</button>
        </div>
    </form>
    
</div>

{% endblock %}