{% extends 'base.html' %}

{% block title %} 
    Inspection Sitters 
{% endblock %}

{% block content %}

<div class="container text-center mt-4" id="header">
    <h1 class="text-white">Select an inspection sitter below to view details</h1>
</div>

<div class="container bg-white mt-3" id="bd_container">
    <div class="row">
        <div class="col">
            <ul>
                {% for sitter in sitters %}
                <li><a href="/inspection_sitters/{{sitter.id}}">{{sitter.get_full_name().title()}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container text-center mt-3">
    <a href="/inspection_sitters/add" class="btn btn-primary">Add Another Inspection Sitter</a>
</div>
{% endblock %} 