{% extends 'base.html' %}

{% block title %}
    Inspection Tracker - Update
{% endblock %}

{% block content %}
<div class="container text-center" id="header">
    <h1 class="text-white">What do you want to update? (under construction)</h1>
</div>

<div class="container text-center cards_div">
    <div class="row">
        <div class="col">
            <div class="card index_card border shadow">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Add a new client</h5>
                    <p class="card-text">To add a new client</p>
                    <a href="/clients/add" class="btn btn-secondary">Add client</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card index_card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Add a new project</h5>
                    <p class="card-text">To add a new project to an existing client</p>
                    <a href="/projects/add" class="btn btn-secondary">Add Project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card index_card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Add a new building department</h5>
                    <p class="card-text">To add a new building department</p>
                    <a href="/building_depts/add" class="btn btn-secondary">Add Building Dept</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card index_card border shadow">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Add a new installation team</h5>
                    <p class="card-text">To add a new installation team</p>
                    <a href="/installation_teams/add" class="btn btn-secondary">Add Team</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card index_card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Add a new inspection sitter</h5>
                    <p class="card-text">To add a new contact for sitting inspections</p>
                    <a href="/inspection_sitters" class="btn btn-secondary">Add Sitter</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card index_card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Add a new building department contact</h5>
                    <p class="card-text">To add a new building department contact or contact list</p>
                    <a href="/bd_contacts/add" class="btn btn-secondary">Add Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}