{% extends 'base.html' %}

{% block title %}
    Inspection Tracker - Update
{% endblock %}

{% block content %}
<div class="container text-center" id="header">
    <h1 class="text-white">What do you want to update? (under construction)</h1>
</div>

<div class="container text-center cards_div">
    <div class="row">
        <div class="col">
            <div class="card index_card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">View and add a new building department</h5>
                    <p class="card-text"></p>
                    <a href="/building_depts" class="btn btn-primary">View Building Depts</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card index_card border shadow">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">View and add a new clients</h5>
                    <p class="card-text"></p>
                    <a href="/clients" class="btn btn-primary">View Clients</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card index_card border shadow">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">View and add a new installation team</h5>
                    <p class="card-text"></p>
                    <a href="/installation_teams" class="btn btn-primary">View Teams</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card index_card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Add a new project</h5>
                    <p class="card-text">To add a new project to an existing client</p>
                    <a href="/projects/add" class="btn btn-primary">Add Project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card index_card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Add a new building dept contact</h5>
                    <p class="card-text"></p>
                    <a href="/bd_contacts/add" class="btn btn-primary">Add Contact</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card index_card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">View and add a new inspection sitters</h5>
                    <p class="card-text">Inspection sitters help sit inspections for the teams</p>
                    <a href="/inspection_sitters" class="btn btn-primary">View Sitter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}